body,html{
    margin: 0;
    padding: 0;
}
/* header */
.container-header{
    height: 70px;
    background-color:transparent;
    display: flex;
    align-items: center;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 5;
}
.container-header.container-sm{
    padding: 40px;
}
.container-header.active{
    background-color: white;
}
.grab-logo{
    height: 60px;
    margin-left: 24px;
}
.btn-light{
    margin:0 8px 0 8px;
    
}
.btn-group{
    margin-left: auto;
    margin-right: 23px;
}
/* fluid img */
.img{
   width: 100%;
   height: 380px;
   object-fit: cover;
   z-index: -1;
}
#inputPlace{
    color: #00B14F;
}
.grabPage{
    margin: 150px 0px 30px 0px;
}
#uu-dai {
    margin-bottom: 50px;
    margin-top: 50px;
    left: 2.5%;
    position: relative;
    font-size: 35px;
    font-weight: 700;
}
.border-bottom{
    color: white;
    height: 80px;
}
/* search box */
.container-search-box{
    width: 350px;
    height: 400px;
    z-index: 3;
    top: 16%;
    position: absolute;
    background-color: white;
}
.wrap-input{
    padding: 24px 0px 0px 15px;
}
#af{
    font-weight: 700;
}
#where{
    font-weight: 650;
    margin-bottom: 20px;
}
#search-input{
    width: 290px;
    padding: 10px;
    padding-left: 37px;
    margin: 10px 10px 10px 0;
}
button.btn.btn-search {
    background-color: #00B14F;
    width: 290px;
    height: 50px;
    font-weight: 650;
    color: white;
}
img#location {
    position: absolute;
    top: 63.5%;
    left: 10%;
    height: 30px;
}
img#des {
    position: absolute;
    bottom: 30%;
    right: 11%;
}
.card{
    width: 350px
}
.card-img-top{
    width: 100%; 
    height: 150px; 
}
.card.border-0.last-card {
    width: 290px;
}

.row.row-card {
    margin: 0 21px;
}
.span-card{
    margin:5px 0 0 7px;
}
.span-star{
    width: 23px;
}
.span-clock{
    margin-left: 15px;
}
.btn-fluid{
    margin-left: 30px;
    width: 95%;
    margin-top: 98px;
    height: 48px;
}
.container-button{
    max-width: 1250px;
    margin-top: -50px;
}
.card:hover{
    cursor: pointer;
}
button.btn.btn-fluid {
    border: solid #747373;
    color: #747373;
    font-weight: 700;
}
button.btn.btn-fluid:hover{
    border: solid #00B14F;
    color: #00B14F;
    font-weight: 700;
}
/* category */
.uu-dai#category{
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}
img.card-img-top.card-category {
    
}
.col-sm {
    align-items: center;
    display: flex;
    justify-content: center;
}
/* why should order */
.why-words{
    font-size: 15px;
}
.check{
    width: 15px;
    height: 20px;
}
.order-space{
    margin-left: 10px;
}
.spacing-order{
    box-sizing: border-box;
    margin-bottom: 20px;
}
li{
    text-align: justify;
}
ul.list-unstyled {
    box-sizing: border-box;
    display: block;
    margin-left: 30px;
    width: 95%;
}
/* WhatisGrabFood */
.container-title{
    margin-left: 32px;
    width: 97.5%;
    
}
.what-des{
    width: inherit;

}
.what-title{
    font-weight: 700;
    margin-bottom: 20px;
}
.what-title,
.what-des{
    text-align: justify;
}



