body,html{
    margin: 0;
    padding: 0;
}
.container-header{
    height: 70px;
    background-color:transparent;
    display: flex;
    align-items: center;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 3;
}
.container-header.container-sm {
    padding: 40px;
}
.grab-logo{
    height: 60px;
}
.btn-light{
    margin:0 8px 0 8px;
    
}
.btn-group{
    margin-left: auto;
}
.img{
   width: 100%;
   height: 380px;
   object-fit: cover;
   z-index: -1;
}
#inputPlace{
    color: #00B14F;
}
.grabPage{
    margin: 20px;
}
#uu-dai{
    top: 74%;
    position: absolute;
    left: 7%;
    font-weight: 700;
}
.border-bottom{
    color: white;
    height: 80px;
}
.container-search-box{
    width: 350px;
    height: 400px;
    z-index: 3;
    top: 16%;
    left: 7%;
    position: absolute;
    background-color: white;
}
.wrap-input{
    padding: 24px 0px 0px 15px;
}
#af{
    font-weight: 700;
}
#where{
    font-weight: 650;
    margin-bottom: 20px;
}
#search-input{
    width: 290px;
    padding: 10px;
    padding-left: 37px;
    margin: 10px 10px 10px 0;
}
button.btn.btn-search {
    background-color: #00B14F;
    width: 290px;
    height: 50px;
    font-weight: 650;
    color: white;
}
img#location {
    position: absolute;
    top: 63.5%;
    left: 10%;
    height: 30px;
}
img#des {
    position: absolute;
    bottom: 30%;
    right: 11%;
}
.card{
    margin: 10px;
}
.container-food{
    margin: 90px;
}
.span-card{
    margin:5px 0 0 7px;
}
.span-star{
    width: 23px;
}
.span-clock{
    margin-left: 15px;
}
