body,html{
    margin: 0;
    padding: 0;
}
/* header */
.container-header{
    height: 70px;
    background-color:transparent;
    display: flex;
    align-items: center;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 5;
}
.container-header.container-sm{
    padding: 40px;
}
.container-header.active{
    background-color: white;
}
.grab-logo{
    height: 60px;
    margin-left: 24px;
}
.btn-light{
    margin:0 8px 0 8px;
    
}
.btn-group{
    margin-left: auto;
    margin-right: 23px;
}
/* fluid img */
.img{
   width: 100%;
   height: 380px;
   object-fit: cover;
   z-index: -1;
}
#inputPlace{
    color: #00B14F;
}
.grabPage{
    margin: 150px 0px 30px 0px;
}
#uu-dai {
    margin-bottom: 50px;
    margin-top: 50px;
    left: 2.5%;
    position: relative;
    font-size: 35px;
    font-weight: 700;
}
.border-bottom{
    color: white;
    height: 80px;
}
/* search box */
.container-search-box{
    width: 350px;
    height: 400px;
    z-index: 3;
    top: 16%;
    position: absolute;
    background-color: white;
}
.wrap-input{
    padding: 24px 0px 0px 15px;
}
#af{
    font-weight: 700;
}
#where{
    font-weight: 650;
    margin-bottom: 20px;
}
#search-input{
    width: 290px;
    padding: 10px;
    padding-left: 37px;
    margin: 10px 10px 10px 0;
}
button.btn.btn-search {
    background-color: #00B14F;
    width: 290px;
    height: 50px;
    font-weight: 650;
    color: white;
}
img#location {
    position: absolute;
    top: 63.5%;
    left: 10%;
    height: 30px;
}
img#des {
    position: absolute;
    bottom: 30%;
    right: 11%;
}
/* card holder */
.card{
    width: 350px
}
.containerCard {
    margin: 0 12px;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}

.card {
    margin-bottom: 20px;
  }

.card-img-top{
    width: 100%; 
    height: 150px; 
}

.row.row-card {
    margin: 0 21px;
}
.span-card{
    margin:5px 0 0 7px;
}
.span-star{
    width: 23px;
}
.span-clock{
    margin-left: 15px;
}
.btn-fluid{
    width: 95.5%;
    margin: 98px 0px 30px 30px;
    height: 48px;
}
.container-button{
    max-width: 1250px;
    margin-top: -50px;
}
.card:hover{
    cursor: pointer;
}
/* button */
button.btn.btn-fluid {
    border: solid #747373;
    color: #747373;
    font-weight: 700;
}
button.btn.btn-fluid:hover{
    border: solid #00B14F;
    color: #00B14F;
    font-weight: 700;
}
/* category */
.uu-dai#category{
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}

.col-sm {
    align-items: center;
    display: flex;
    justify-content: center;
}
/* why should order */
.why-words{
    font-size: 15px;
}
.check{
    width: 15px;
    height: 20px;
}
.order-space{
    margin-left: 10px;
}
.spacing-order{
    box-sizing: border-box;
    margin-bottom: 15px;
}
li{
    text-align: justify;
    position: relative;
}
.li-check::before{
    content: "";
    left: -30px;
    position: absolute;
    width: 20px;
    height: 20px;
    background-size: 84%;
    transform: translateY(32%);
    background-repeat: no-repeat;
    background-image:url("./src/assets/check.png");
}
ul.list-unstyled {
    box-sizing: border-box;
    display: block;
    margin-left: 70px;
    width: 92%;
}
/* WhatisGrabFood */
.container-title{
    margin-left: 32px;
    width: 97.5%;
    
}
.what-des{
    width: inherit;

}
.what-title{
    font-weight: 700;
    margin-bottom: 20px;
}
.what-title,
.what-des{
    text-align: justify;
}
.border-what{
    height: 10px;
    margin-bottom: 20px;
    width: 98%;
}
/* Style Li */
.li-more{
    list-style: none;
    width: 98%;
}
.li-more::before{
    content: "";
    background-image: none;
}
.btn-readmore{
    margin-top: 30px
}
.container-words {
    margin: 60px 0 -45px 3px;
}
/* Wrapcontent */
.container-footer{
    background-color: #f7f7f7;
    height: 550px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.wrap-content{
    display: inline-block;
    width: 550px;
    height: 300px;
}
.container-sm.container-wrap-content {
    display: inherit;
    justify-content: space-around;
    align-items: baseline;
}
.appstore{
    cursor: pointer;
}
/* footer */
.footer{
    width: 100%;
    height: 430px;
    background-color: #00B14F;
}
.wrap-li{
    width: 280px;
    height: 76px;
}
.footer-all-wrap {
    display: flex;
    margin-left: 35px;
}
.footer-li{
    list-style: none;
    color: white;
    margin: 30px 0 30px 0;
    font-weight: 600;
    cursor: pointer;
    font-size: 17px;
}
.border-footer{
    height: 0px;
    margin-left: 25px;
    width: 96%;
}
.wrap-img {
    margin-top: 30px;
}
.footer-img{
    cursor: pointer;
    margin: 20px;
}
.span-li{
    list-style: none;
    margin-right: 30px;
    cursor: pointer;
    color: white;
    font-size: 14px;
}
.span-wrap{
    justify-content: space-between;
    display: flex;
}
.span-wrap-li{
    display: flex;
}
.container-max-footer{
    background-color: #00B14F;
}
/* Detail */
.search-header {
    height: 70px;
    width: 73%;
    display: flex;
    align-items: center;
    justify-content: center;
}
input#search-detail {
    width: 380px;
    height: 40px;
    padding: 0 0 0 40px;
    position: relative;
    z-index: 5;
}
img#img-location{
    margin-left: 25px;
    z-index: 3;
    left: 24%;
    position: absolute;
}
.container-detail{
    padding-top: 30px;
    padding-bottom: 50px;
}
.container-sm.container-slide {
    width: 1250px;
}
#input-fluid-detail{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: #f7f7f7;
    border-color: transparent;
    padding: 20px;
    position: relative;
    padding: 20px 0 20px 60px;
}
#search-icon{
    position: absolute;
    z-index: 2;
    padding: 11px 0px 20px 20px;
}
.card-slide{
    display: flex;
}
.divider-detail{
    height: 8px;
    background: #f7f7f7;
    width: 100%;
}
/* compre */
.container-compre{
    padding-top: 20px;
}
img.add-button {
    margin-left: 181px;
    margin-bottom: 20px;
}
.row.row-cols-1.row-cols-md-3.g-4 {
    margin-left: 10px;
}
/* footer */
:where(.css-dev-only-do-not-override-1kuana8).ant-drawer .ant-drawer-body {
    flex: 1;
    min-width: 0;
    min-height: 0;
    padding:0px
}
.inputContent {
    margin: 5px;
    display: flex;
    justify-content: space-between;
}
.ant-drawer-body {
    overflow: auto;
}
:where(.css-dev-only-do-not-override-1kuana8).ant-drawer .ant-drawer-footer {
    justify-content: flex-end;
    align-items: center;
    display: flex;
    height: 80px;
    flex-shrink: 0;
    padding: 8px 16px;
    border-top: 1px solid rgba(5, 5, 5, 0.06);
}
.checkbox-option {
    display: flex;
    justify-content: space-between;
}